.common-header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #ffc12d;
  }

  .common-header nav{
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .common-header nav a{
    text-decoration: none;
    color: white;
    padding: 4px;
    font-weight: 700;
  }
  .common-header nav a:hover{
    border-bottom: 2px solid white;
  }
  .logo {
    font-size: 28px;
    color: white;
  }
  .cart-prodcut-image{
    max-height: 200px ;
  }

  .suggested-product-item{
   width: 260px;
   min-width: 260px !important;
    margin-right: 20px;
  }
  .cart-table{
    min-width: 700px;
  }
  #slider-arrow-right,#slider-arrow-left{
    height: 75px;
    width: 40px;
    background: lightsalmon;
    color: white;
  }
  #slider-arrow-left{
    left: -46px;
  }