* {
  margin: 0;
  padding: 0;
  font-family: "Tilt Neon", cursive;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.header {
  background-color: #ffc12d;
  padding: 20px;
  color: white;
  font-size: 24px;
}
.logo {
  display: inline-block;
  margin-right: 8px;
}
.nav {
  display: inline-block;
  float: right;
  margin-top: 15px;
}
.nav-item {
  padding: 2px;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 8px;
}
.nav-item:hover {
  color: white;
  border-bottom: 2px solid white;
}
.hero-banner {
  position: relative;
}
.hero-banner-img {
  height: 100%;
  width: 100%;
}
.section {
  padding: 20px;
  margin: 40px 0px;
}
.footer {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}
.categories {
  text-align: center;
}
.sub-heading {
  font-size: 40px;
  margin-bottom: 10px;
  color: brown;
}
.sub-desc {
  font-size: 20px;
  color: gray;
  margin-bottom: 10px;
}
.category {
  margin: 40px;
  display: inline-block;
}
.category-photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.category-label {
  font-size: 26px;
  margin-top: 10px;
}
.dog-label {
  color: brown;
}
.cat-label {
  color: #ffc12d;
}
.section-title {
  font-size: 42px;
  text-align: center;
  text-decoration: underline;
}
#dogs .section-title {
  color: brown;
}
#cats .section-title {
  color: #ffc12d;
}
.cards-container {
  margin: 20px auto;
  max-width: 1250px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  box-shadow: 4px 4px 4px #ccc;
  display: inline-block;
  background-color: white;
}
.card-img {
  height: 300px;
  width: 350px;
  border-radius: 8px;
  background-color: lightgray;
}
.card-img img {
  height: 300px;
  width: 100%;
}
.card-title {
  font-size: 28px;
  font-family: "Roboto Mono", monospace;
}
.card-list {
  margin-top: 10px;
  list-style-type: none;
}
.card-list li {
  margin-bottom: 4px;
  color: gray;
  font-family: "Roboto Mono", monospace;
}
.card-list li b {
  font-family: "Roboto Mono", monospace;
}
.wave img {
  width: 100%;
  height: 250px;
}
.card-actions {
  margin-top: 10px;
}
.card-actions a {
  float: right;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: salmon;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.card-actions a:hover {
  background-color: #00be00;
}
#contact {
  background-color: #ffc12d;
  margin-bottom: 0px;
}
#contact .section-title {
  color: whitesmoke;
}
.contact-form {
  width: 50%;
  max-width: 500px;
  min-width: 320px;
  margin: 40px auto;
}
.form-item {
  margin: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-label {
  font-size: 26px;
  color: white;
}
.form-label sup {
  color: orangered;
  font-size: 12px;
  margin-left: 4px;
}
.form-input input,
.form-input textarea {
  border: 1px solid lightgray;
  padding: 16px;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
}
.form-input input:focus,
.form-input textarea:focus {
  outline: 1px solid brown;
}

.form-cta {
  margin-top: 30px;
  width: 100%;
}
.form-cta button {
  margin: 0 auto;
  width: 80%;
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background-color: white;
  color: brown;
  cursor: pointer;
  box-shadow: 0px 4px 4px #ccc;
}
.form-cta button i {
  margin-left: 4px;
  font-weight: 600;
}

#team .section-title {
  color: brown;
}
.team-table {
  max-width: 80%;
  margin: 40px auto;
  border-spacing: 10px 20px;
}
.team-row {
}
.team-cell {
  padding: 10px;
  margin: 10px;
}
.team-cell img {
  height: 200px;
  width: 200px;
  border-radius: 12px;
}
.team-cell p {
  border: 2px solid brown;
  padding: 8px;
  text-align: center;
  margin-top: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.team-cell p:hover {
  background-color: brown;
  color: #ffc12d;
}
#donate {
  background-color: salmon;
  padding: 40px;
  border-radius: 20px;
  max-width: 80%;
  margin: 60px auto;
}
#donate .section-title {
  text-decoration: none;
  color: white;
  font-size: 26px;
  display: inline-block;
  text-align: left;
  width: 65%;
  float: left;
  margin-top: 10px;
}
.donate-btn {
  display: inline-block;
  width: 30%;
}
.donate-btn button {
  border: none;
  border-radius: 8px;
  float: right;
  cursor: pointer;
}
.donate-btn span {
  display: block;
  font-size: 16px;
}
.donate-btn-label {
  background-color: #00be00;
  padding: 15px 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  font-weight: 600;
}
.donate-icon {
  background-color: white;
  padding: 20px 12px;
  padding-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #00be00;
}
.special-green {
  color: #ffc12d;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#blogs .section-title {
  color: #ffc12d;
}
.blogs-container {
  margin: 60px auto;
  max-width: 90%;
  display: flex;
  justify-content: space-around;
  height: 400px;
  align-items: center;
}
.blog-item {
  width: 30%;
  min-width: 300px;
}
.blog-item iframe {
  height: 300px;
}
.blog-item iframe,
.blog-item video {
  width: 100%;
  border-radius: 8px;
}
.blog-item video {
  height: 400px;
  object-fit: cover;
}

.hero-banner-content {
  position: absolute;
  top: 70px;
  left: 50px;
  width: 50%;
}

.hero-banner-content h1 {
  font-size: 42px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-banner-content p {
  color: white;
  font-size: 32px;
}
.hero-banner-content a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  margin-top: 40px;
  display: block;
  background-color: brown;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px;
  padding-bottom: 10px;
}
.hero-banner-content a > .underline {
  visibility: hidden;
  height: 2px;
  width: 105px;
  margin: 0 auto;
  margin-top: 2px;
  background-color: whitesmoke;
  display: block;
}
.hero-banner-content a:hover .underline {
  visibility: visible;
}
#menu,#cats {
  position: relative;
}
.blob.right{
  position: absolute;
  height: 1000px;
  width: 700px;
  top: 0px;
  right: -400px;
  z-index: -1;
}
.blob.right img {
  height: 1000px;
}

.blob.left{
  position: absolute;
  height: 1000px;
  width: 700px;
  top: -400px;
  left: -450px;
  z-index: -1;
}
.blob.left img {
  height: 1000px;
}
.blob.bottom{
  position: absolute;
  height: 1000px;
  bottom: -650px;
  right: -380px;
  z-index: -1;
}
.blob.bottom img {
  height: 1000px;
}